body {
  margin: 0;
  padding: 24px;
  font-size: 14px;
  font-family: sans-serif;
}

td {
  padding: 20px;
  overflow: scroll;
  max-width: calc(100vw - 240px);
}

.paste-content {
  display: inline-block;
  white-space: pre;
  max-height: 150px;
  overflow-y: auto;
}
